.navbar-size {
    width: 95%;
    margin: 0 auto;
}
.user-image-size {
    height: 60px;
    margin: 4px 0;
}
.main-body {
    background-color: #fc9694;
    color: white;
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}
.click-me-button {
    background-color: #f5f3f3;
    margin-top: 50px;
}
.card-text {
    color:black;
}